/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
    font-size: 10pt;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif; /*Mononoki Nerd Font, Noto Sans;*/
    font-size: 10pt;
    /*opacity: 0.5;*/
    background: transparent;
  /*    background-color: rgba(43, 48, 59, 0.5); */
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  /*color: #ffffff;*/
  transition-property: background-color;
  transition-duration: .5s;
}

#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}
button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border-top: 2px solid #c9545d;
}

#workspaces button {
/*  padding: 0 4px;*/
    padding-left: 10px;
    padding-right: 10px;
  /*    background-color: rgba(0,0,0,0.3); */
}

#workspaces button:hover {
}

#workspaces button.focused {
  /*    box-shadow: inset 0 -2px #c9545d; */
  background-color: rgba(0,0,0,0.3);
  color:#c9545d;
  border-top: 2px solid #c9545d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button label {
	font-size: 15pt;
}
/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#bluetooth,
#temperature,
#custom-power,
#custom-weather,
#custom-weather2,
#custom-khal,
#tray {
/*    padding-left: 10px;
    padding-right: 2px;
    border-radius: 3px;
    margin: 2px;*/
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  margin-left: 3px;
  border-radius: 5px;
}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    color: #FF5F00;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 5px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-khal {
    color: #FF5F00;
    padding: 3px 12px 3px 8px;
    font-size: 15px;
}

#custom-weather {
    color: #5AB2FF;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    /*padding-bottom: 2px;*/

    /*background-color: #64727D;*/
    border-bottom: 3px solid #ffffff;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    /*font-weight: bold;*/

 /*   margin: 2;
  padding-left: 8;
  padding-right: 8;*/
  background-color: rgba(0,0,0,0.3);
  font-size:14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 0 8px;
}

/*#workspaces button {
    border-top: 2px solid transparent;*/
    /* To compensate for the top border and still have vertical centering */
/*    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}*/

/* custom/weather2 */
#custom-weather2.severe {
    color: #eb937d;
}

#custom-weather2.sunnyDay {
    color: #c2ca76;
}

#custom-weather2.clearNight {
    color: #2b2b2a;
}

#custom-weather2.cloudyFoggyDay, #custom-weather2.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather2.rainyDay, #custom-weather2.rainyNight {
    color: #5aaca5;
}

#custom-weather2.showyIcyDay, #custom-weather2.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather2.default {
    color: #dbd9d8;
}
/* end custom/weather2 */
